@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px; /* Compense la hauteur de la Navbar + de la QuickAccessBar sticky */
}